# fly.staging.toml - Fly.io config para ambiente de staging
app = 'api-dev-financial-app'
primary_region = 'gru'

[build]
  dockerfile = ".docker/Dockerfile.prod"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
